node_modules
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store